.input1{
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}
.input1 input[type="text"]{
    width: 350px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
	height: 60px;
	border: 1px solid black;
	box-shadow: 0px 0px 8px black;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 30px;
	align-content: center;
	font-weight:bold;
    border-radius: 15px;
    align-content: center;
	align-items: center;
	text-align: center;
    
}

.input1 input[type="submit"]{
	width: 350px;
	height: 60px;
	border: 1px solid black;
	box-shadow: 0px 0px 8px black;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-weight:bold;
	font-size: 40px;
	color: aliceblue;
	background-color: lightseagreen;
	border-radius: 15px;
}